* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  width: 400px;
  margin: 60px auto;
}

body {
  background-color: black;
  color: white;
}

a {
  color: white;
}

footer {
  color:blue;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

